.root{
    -fx-background-color: #FAFAFA;
    -fx-accent: #1976D2;
}

.button-raised{
    -fx-background-color: #2196F3;
    -fx-background-radius: 2;
    -fx-padding: 8;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}

.button-raised:pressed{
    -fx-background-color: #1976D2;
}

.button-flat{
    -fx-background-color: transparent;
    -fx-background-radius: 2;
    -fx-padding: 8;
    -fx-text-fill: #2196F3;
}

.button-flat:pressed{
    -fx-background-color: #BDBDBD;
}

.btn-small{
    -fx-padding: 8 16 8 16;
    -fx-font-size: 12px;
}

.btn-medium{
    -fx-padding: 16 24 16 24;
    -fx-font-size: 14px;
}

.btn-big:pressed{
    -fx-background-color: #424242;
}

.text-field {
    -fx-background-color: #BDBDBD,  #FAFAFA,  #FAFAFA;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -10 0 -10;
}

.text-field:focused{
    -fx-background-color: #1976D2,  #FAFAFA,  #FAFAFA;
    -fx-background-insets: 0 -2 -2 -2, 0 0 0 0, 0 -10 0 -10;
}

.text-field-label {
    -fx-text-fill: #9e9e9e;
}

.table-view{
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-view:focused{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #E0E0E0;
}

.table-view .column-header-background .label{

    -fx-background-color: transparent;
    -fx-text-fill: #757575;
    -fx-padding: 16 16 16 16;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-alignment: center;
    -fx-text-fill: #212121;
}

.table-row-cell{
    -fx-background-color: #FAFAFA;
    -fx-min-height: 46px;
    -fx-max-height: 46px;
    -fx-padding: 0; /* 0 */

}

.table-row-cell:odd{
    -fx-background-color: #F5F5F5;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #BDBDBD;
    -fx-background-radius: 1;
    -fx-table-cell-border-color: transparent;
}

.lobby-header {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
}

.lobby-header-text {
    -fx-text-fill: white;
}

.deck{
    -fx-background-color: #EEEEEE;
}

.progress-bar{
    -fx-background-color: #F5F5F5;
}

.progress-bar .track {
    -fx-background-color: #FAFAFA;
}

.progress-bar > .bar {
    -fx-background-color: #1565C0, #1565C0, #1565C0, #1565C0;
    -fx-background-insets: 1 1 2 1;
    /*-fx-background-radius: 0.583em; *//* 7 */
    -fx-background-radius: 2;
    -fx-padding: 5px;
}

.usr-on-turn {
    -fx-background-color: #EEEEEE;
}

.usr-waiting {
    -fx-background-color: #FAFAFA;
}

.tool-bar{
    -fx-background-color: #EEEEEE;
}

.game-end .button {
    -fx-background-color: transparent;
    -fx-background-radius: 2;
    -fx-padding: 8;
    -fx-text-fill: #2196F3;
}

.game-end .button:pressed {
    -fx-background-color: #BDBDBD;
}

.game-end > *.label.content{
    -fx-alignment: center;
    -fx-text-alignment: center;
}